http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/nameusage/search?q=Apis&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.91)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":2283,"result":[{"usage":{"name":{"created":"2019-11-20T11:08:23.072595","createdBy":11,"modified":"2019-11-20T11:08:23.072595","modifiedBy":11,"datasetKey":1,"id":"72M","sectorKey":11,"homotypicNameId":"72M","scientificName":"Apistonema","rank":"genus","uninomial":"Apistonema","candidatus":false,"nomStatus":"doubtful","origin":"name
        matching","type":"scientific","parsed":true,"formattedName":"<i>Apistonema</i>"},"origin":"name
        matching","datasetKey":1,"label":"Apistonema","labelHtml":"<i>Apistonema</i>","taxon":false,"bareName":true,"synonym":false}},{"usage":{"name":{"created":"2019-11-20T11:09:01.662398","createdBy":11,"modified":"2019-11-20T11:09:01.662398","modifiedBy":11,"datasetKey":1,"id":"3NBD","sectorKey":3012,"homotypicNameId":"3NBD","scientificName":"Apistogramma","rank":"genus","uninomial":"Apistogramma","candidatus":false,"nomStatus":"doubtful","origin":"name
        matching","type":"scientific","parsed":true,"formattedName":"<i>Apistogramma</i>"},"origin":"name
        matching","datasetKey":1,"label":"Apistogramma","l[...]
