http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/dataset/1000/taxon/1/children
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":2,"result":[{"created":"2020-07-02T23:50:52.600532","createdBy":10,"modified":"2020-07-02T23:50:52.600532","modifiedBy":10,"datasetKey":1000,"id":"2","verbatimKey":856,"name":{"created":"2020-07-02T23:50:52.226718","createdBy":10,"modified":"2020-07-13T01:40:01.160395","modifiedBy":10,"datasetKey":1000,"id":"2","verbatimKey":1660,"homotypicNameId":"2","scientificName":"Archaea","rank":"kingdom","uninomial":"Archaea","origin":"source","type":"scientific","parsed":true},"status":"accepted","origin":"source","parentId":"1","label":"Archaea","labelHtml":"Archaea"},{"created":"2020-07-02T23:50:52.600532","createdBy":10,"modified":"2020-07-02T23:50:52.600532","modifiedBy":10,"datasetKey":1000,"id":"41","verbatimKey":319,"name":{"created":"2020-07-02T23:50:52.226718","createdBy":10,"modified":"2020-07-13T01:40:01.160395","modifiedBy":10,"datasetKey":1000,"id":"41","verbatimKey":4830,"homotypicNameId":"41","scientificName":"Bacteria","rank":"kingdom","uninomial":"Bacteria","origin":"source","type":"scientific","parsed":true},"status":"accepted","origin":"source","parentId":"1","label":"Bacteria","labelHtml":"Bacteria"}],"last":true,"empty":false}'
  recorded_at: 2020-12-09 01:42:35 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
