http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/dataset/3/taxon/709dfa66-43fe-4736-a774-59f821a2ee23/classification
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"created":"2020-01-06T19:09:08.434016","createdBy":103,"modified":"2020-01-06T19:09:08.434016","modifiedBy":103,"datasetKey":3,"id":"c527bf97-382c-4b41-abab-5ae387dfc5cf","sectorKey":4453,"name":{"created":"2020-01-06T19:09:08.434016","createdBy":103,"modified":"2020-01-06T19:09:08.434016","modifiedBy":103,"datasetKey":3,"id":"e7afd9d1-d4f1-41cb-8f58-4069539daefd","sectorKey":4453,"homotypicNameId":"e7afd9d1-d4f1-41cb-8f58-4069539daefd","nameIndexId":"5U7W","nameIndexMatchType":"exact","scientificName":"Halictidae","rank":"family","uninomial":"Halictidae","origin":"source","type":"scientific","parsed":true,"formattedName":"<i>Halictidae</i>"},"status":"accepted","origin":"source","parentId":"a92fc146-f0e8-462f-9dd8-54472e31f122","label":"Halictidae","labelHtml":"<i>Halictidae</i>","synonym":false,"taxon":true,"bareName":false},{"created":"2019-11-20T11:08:11.507938","createdBy":0,"modified":"2019-11-20T11:08:11.507938","modifiedBy":0,"datasetKey":3,"id":"a92fc146-f0e8-462f-9dd8-54472e31f122","name":{"created":"2019-11-20T11:08:06.236767","createdBy":0,"modified":"2019-11-20T11:10:00.67619","modifiedBy":0,"datasetKey":3,"id":"a92fc146-f0e8-462f-9dd8-54472e31f122","homotypicNameId":"a92fc146-f0e8-462f-9dd8-54472e31f122","nameIndexId":"5TKE","scientificName":"Apoidea","rank":"superfamily","uninomial":"Apoidea","nomStatus":"acceptable","origin":"source","type":"scientific","parsed":true,"formattedName":"<i>Apoidea</i>"},"status":"accepted","origin":"source","parentId":"1a958f8f-3c87-42dd-8cc1-91ef34ec55de","accordingTo":"CoL","label":"Apoidea
        CoL","labelHtml":"<i>Apoidea</i> CoL","synonym":false,"taxon":true,"bareName":false},{"created":"2019-11-20T11:08:11.507938","createdBy":0,"modified":"2019-11-20T11:08:11.507938","modifiedBy":0,"datasetKey":3,"id":"1a958f8f-3c87-42dd-8cc1-91ef34ec55de","name":{"created":"2019-11-20T11:08:06.236767","createdBy":0,"modified":"2019-11-20T11:10:00.67619","modifiedBy":0,"datasetKey":3,"id":"1a958f8f-3c87-42dd-8cc1-91ef34ec55de","homotypicNameId":"1a958f8f-3c87-42dd-8cc1[...]
