http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/dataset/1014/name
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":3827,"result":[{"created":"2019-12-23T19:08:18.749893","createdBy":10,"modified":"2019-12-23T19:08:18.749893","modifiedBy":10,"datasetKey":1014,"id":"1","verbatimKey":875,"homotypicNameId":"1","nameIndexId":"49T7L","nameIndexMatchType":"exact","scientificName":"Campylobacter
        phage CP21 ICTV","rank":"species","code":"virus","origin":"source","type":"virus","parsed":false,"formattedName":"Campylobacter
        phage CP21 ICTV"},{"created":"2019-12-23T19:08:18.749893","createdBy":10,"modified":"2019-12-23T19:08:18.749893","modifiedBy":10,"datasetKey":1014,"id":"10","verbatimKey":1560,"homotypicNameId":"10","nameIndexId":"49UFN","nameIndexMatchType":"exact","scientificName":"Haemophilus
        phage HP2 ICTV","rank":"species","code":"virus","origin":"source","type":"virus","parsed":false,"formattedName":"Haemophilus
        phage HP2 ICTV"},{"created":"2019-12-23T19:08:18.749893"[...]
