http_interactions:
- request:
    method: get
    uri: https://api.catalogue.life/dataset?offset=0&limit=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":5,"total":269,"result":[{"created":"2019-11-20T11:07:46.123046","createdBy":103,"modified":"2020-01-08T16:22:47.59351","modifiedBy":103,"key":3,"type":"taxonomic","origin":"managed","locked":false,"title":"Catalogue
        of Life - Working Draft","alias":"col-draft","organisations":["Species 2000"],"contact":"Yury
        Roskov","authorsAndEditors":["Roskov Y.","Ower G.","Orrell T.","Nicolson D.","Bailly
        N.","Kirk P.M.","Bourgoin T.","DeWalt R.E.","Decock W.","Nieukerken E. van","Penev
        L."],"license":"cc by","citation":"Roskov Y.; Ower G.; Orrell T.; Nicolson
        D.; Bailly N.; Kirk P.M.; Bourgoin T.; DeWalt R.E.; Decock W.; Nieukerken
        E. van; Penev L.; eds. (2019). Species 2000 & ITIS Catalogue of Life, [YYYY-MM-DD]
        Beta. Digital resource at www.catalogueoflife.org/col. Species 2000: Naturalis,
        Leiden, the Netherlands. ISSN 2405-8858. ","geographicScope":"Global","website":"https://www.catalogueoflife.org","group":"Biota","importFrequency":"never","confidence":4,"completeness":80},{"created":"2019-11-20T11:07:46.255777","createdBy":0,"modified":"2019-12-23T17:43:32.521608","modifiedBy":0,"key":1000,"type":"taxonomic","origin":"external","locked":false,"title":"Catalogue
        of Life Hierarchy","alias":"ColH","description":"We present a consensus classification
        of life to embrace the more than 1.6 million species \nalready provided by
        more than 3,000 taxonomists’ expert opinions \nin a unified and coherent,
        hierarchically ranked system known as the Catalogue of Life (CoL).","organisations":["Species2000","ITIS"],"contact":"Markus
        Döring <markus@mailinator.com>","authorsAndEditors":["Michael A. Ruggiero","Dennis
        P. Gordon","Thomas M. Orrell","Nicolas Bailly orcid:0000-0003-4994-0653","Thierry
        Bourgoin","Richard C. Brusca","Thomas Cavalier-Smith","Michael D. Guiry","Paul
        M. Kirk"],"license":"cc by","version":"1.4","released":"2019-05-06","dataFormat":"coldp","dataAccess":"https://github.com/Sp2000/col-hierarchy/archive/master.zip","importFrequency":"daily","size":5688,"imported":"2019-12-23T17:43:41.65462"},{"created":"2019-11-20T11:07:46.255777","createdBy":102,"modified":"2020-02-10T17:09:11.015297","modifiedBy":102,"key":1005,"type":"taxonomic","origin":"external","locked":false,"title":"Catalogue
        of Craneflies of the World","alias":"CCW","description":"The Catalogue of
        the Craneflies of the World (CCW) covers all genera, subgenera, species, subspecies,
        and synonyms of the World Tipuloidea (Insecta – Diptera – Nematocera – families
        Pediciidae, Limoniidae, Cylindrotomidae, Tipulidae), in total 17,307 taxa.
        It also includes up to date information on the distribution of the species
        and subspecies, specified by countries and, for the larger countries, states,
        provinces, islands.","organisations":["Entomology Section","Zoological Museum","University
        of Amsterdam / ETI BioInformatics","The  Netherlands"],"contact":"P Oosterbroek","authorsAndEditors":["Oosterbroek
        P."],"license":"other","version":"Jul 2013","released":"2013-07-17","geographicScope":"Global","website":"http://nlbif.eti.uva.nl/ccw/","group":"Craneflies","logo":"https://github.com/Sp2000/colplus-repo/raw/master/logos/CCW.png","dataFormat":"acef","dataAccess":"https://raw.githubusercontent.com/Sp2000/colplus-repo/master/ACEF/5.tar.gz","importFrequency":"daily","code":"zoological","size":32212,"confidence":5,"completeness":100,"contributesTo":[2081,3,2083,2123,2079],"imported":"2020-02-10T17:09:56.840215"},{"created":"2019-11-20T11:07:46.255777","createdBy":0,"modified":"2019-12-23T18:58:53.654972","modifiedBy":103,"key":1006,"type":"taxonomic","origin":"external","locked":false,"title":"Computer
        Aided Identification of Phlebotomine sandflies of Americas","alias":"CIPA","description":"CIPA
        includes information on 418 neotropical sandfly (Phlebotominae) species. These
        blood-sucking insects are important as vect[...]
