http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/dataset?offset=0&limit=5
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":5,"total":298,"result":[{"created":"2019-11-20T11:07:46.123046","createdBy":102,"modified":"2020-12-03T17:31:40.638259","modifiedBy":102,"key":3,"importAttempt":23,"type":"taxonomic","origin":"managed","title":"Catalogue
        of Life - Working Draft","alias":"col-draft","description":"The Catalogue
        of Life (CoL) is an assembly of expert-based global species checklists with
        an aim to build a comprehensive catalogue of all known species of organisms
        on Earth. Continuous progress is made towards completion, but for now, it
        probably includes just over 80% of the world''s known species. The Catalogue
        of Life estimates 2.2M extant species on the planet recognised by taxonomists
        at present time. This means that for many groups it continues to be deficient,
        and users may notice that many species are still missing from the Catalogue.
        \n\nOnly ITIS checklists have been updated in this edition of the Catalogue
        of Life.","organisations":[{"name":"Species 2000","label":"Species 2000"}],"contact":{"givenName":"Yuri","familyName":"Roskov","email":"yroskov@illinois.edu","orcid":"0000-0003-2137-2690","name":"Roskov
        Y."},"editors":[{"givenName":"Y.","familyName":"Roskov","name":"Roskov Y."},{"givenName":"G.","familyName":"Ower","name":"Ower
        G."},{"givenName":"T.","familyName":"Orrell","name":"Orrell T."},{"givenName":"D.","familyName":"Nicolson","name":"Nicolson
        D."},{"givenName":"N.","familyName":"Bailly","name":"Bailly N."},{"givenName":"P.M.","familyName":"Kirk","name":"Kirk
        P.M."},{"givenName":"T.","familyName":"Bourgoin","name":"Bourgoin T."},{"givenName":"R.E.","familyName":"DeWalt","name":"DeWalt
        R.E."},{"givenName":"W.","familyName":"Decock","name":"Decock W."},{"givenName":"E.J.","familyName":"van
        Nieukerken","name":"van Nieukerken E.J."},{"givenName":"L.","familyName":"Penev","name":"Penev
        L."}],"license":"other","citation":"Species 2000 & ITIS. The Catalogue of
        Life working draft.","geographicScope":"Global","website":"https://www.catalogueoflife.org","group":"Biota","confidence":4,"completeness":80,"imported":"2020-12-01T17:56:50.036638","size":3981745,"private":false},{"created":"2019-11-20T11:07:46.255777","createdBy":101,"modified":"2020-10-09T12:01:27.209485","modifiedBy":101,"key":1000,"importAttempt":8,"type":"taxonomic","origin":"external","title":"Catalogue
        of Life Hierarchy","alias":"ColH","description":"We present a consensus classification
        of life to embrace the more than 1.6 million species \nalready provided by
        more than 3,000 taxonomists’ expert opinions \nin a unified and coherent,
        hierarchically ranked system known as the Catalogue of Life (CoL).","organisations":[{"name":"Species2000","label":"Species2000"},{"name":"ITIS","label":"ITIS"}],"contact":{"familyName":"Markus
        Döring <markus@mailinator.com>","name":"Markus Döring <markus@mailinator.com>"},"authors":[{"familyName":"Michael
        A. Ruggiero","name":"Michael A. Ruggiero"},{"familyName":"Dennis P. Gordon","name":"Dennis
        P. Gordon"},{"familyName":"Thomas M. Orrell","name":"Thomas M. Orrell"},{"givenName":"Nicolas","familyName":"Bailly","name":"Bailly
        N."},{"givenName":"Thierry","familyName":"Bourgoin","name":"Bourgoin T."},{"familyName":"Richard
        C. Brusca","name":"Richard C. Brusca"},{"givenName":"Thomas","familyName":"Cavalier-Smith","name":"Cavalier-Smith
        T."},{"familyName":"Michael D. Guiry","name":"Michael D. Guiry"},{"familyName":"Paul
        M. Kirk","name":"Paul M. Kirk"}],"license":"cc by","version":"1.4","released":"2019-05-06","completeness":0,"imported":"2020-07-02T23:50:55.486671","size":2844,"private":false},{"created":"2019-11-20T11:07:46.255777","createdBy":102,"modified":"2020-10-08T11:57:02.476028","modifiedBy":102,"key":1005,"importAttempt":9,"type":"taxonomic","origin":"external","title":"Catalogue
        of Craneflies of the World","alias":"CCW","description":"The Catalogue of
        the Craneflies of the World (CCW) covers all genera, subgenera, species, subspecies,
        and synonyms of the World Tipuloidea (Insecta – Diptera – Nematocera – families
        Pediciidae, Limoniidae, Cylindrotomidae, Tipulidae), in total 17,307 taxa.
        It also includes up to date information on the distribution of the species
        and subspecies, specified by countries and, for the larger countries, states,
        provinces, islands.","organisations":[{"name":"Entomology Section","label":"Entomology
        Section"},{"name":"Zoological Museum","label":"Zoological Museum"},{"name":"University
        of Amsterdam / ETI BioInformatics","label":"University of Amsterdam / ETI
        BioInformatics"},{"name":"The  Netherlands","label":"The  Netherlands"}],"contact":{"givenName":"P","familyName":"Oosterbroek","name":"Oosterbroek
        P"},"authors":[{"givenName":"P.","familyName":"Oosterbroek","name":"Oosterbroek
        P."}],"license":"other","version":"Jul 2013","released":"2013-07-17","geographicScope":"Global","website":"http://nlbif.eti.uva.nl/ccw/","logo":"https://github.com/Sp2000/colplus-repo/raw/master/logos/CCW.png","group":"Craneflies","confidence":5,"completeness":100,"imported":"2020-07-02T23:52:13.439658","size":17386,"private":false},{"created":"2019-11-20T11:07:46.255777","createdBy":0,"modified":"2020-10-14T19:21:48.008126","modifiedBy":103,"key":1006,"importAttempt":9,"type":"taxonomic","origin":"external","title":"Computer
        Aided Identification of Phlebotomine sandflies of Americas","alias":"CIPA","description":"CIPA
        i[...]
