http_interactions:
- request:
    method: get
    uri: https://api.catalogue.life/decision?offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":7302,"result":[{"created":"2020-04-14T21:11:10.704248","createdBy":102,"modified":"2020-04-14T21:11:10.704248","modifiedBy":102,"key":17301,"datasetKey":3,"subject":{"id":"xSA4","name":"Blastocladiomycetes","rank":"class","status":"accepted","parent":"Chytridiomycota"},"originalSubjectId":"xSA4","subjectDatasetKey":2073,"mode":"block"},{"created":"2020-04-14T21:01:26.734231","createdBy":102,"modified":"2020-04-14T21:01:26.734231","modifiedBy":102,"key":17300,"datasetKey":3,"subject":{"id":"xNQQ","name":"Saccharomycodaceae","rank":"order","status":"accepted","parent":"Saccharomycetes"},"originalSubjectId":"xNQQ","subjectDatasetKey":2073,"mode":"block"},{"created":"2020-04-14T20:58:46.818468","createdBy":102,"modified":"2020-04-14T20:58:46.818468","modifiedBy":102,"key":17299,"datasetKey":3,"subject":{"id":"493251","name":"Schizoblastosporon
        chiloense","authorship":"C.Ramírez & A.E.González","rank":"species","code":"botanical","status":"accepted","parent":"Schizoblastosporon"},"originalSubjectId":"493251","subjectDatasetKey":2073,"mode":"block"},{"created":"2020-04-14T20:57:05.16794","createdBy":102,"modified":"2020-04-14T20:57:05.16794","modifiedBy":102,"key":17298,"datasetKey":3,"subject":{"id":"xR5Y","name":"Peronosporea","rank":"phylum","status":"accepted","parent":"Fungi"},"originalSubjectId":"xR5Y","subjectDatasetKey":2073,"mode":"block"},{"created":"2020-04-14T20:54:17.460982","createdBy":102,"modif[...]
- request:
    method: get
    uri: https://api.catalogue.life/decision?rank=genus&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offse[...]
