http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/dataset/1014/name
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":8476,"result":[{"created":"2020-09-01T21:25:52.138836","createdBy":10,"modified":"2020-09-30T04:43:14.144249","modifiedBy":10,"datasetKey":1014,"id":"1","verbatimKey":7206,"homotypicNameId":"1","scientificName":"Ranid
        herpesvirus 1","rank":"species","code":"virus","origin":"source","type":"virus","link":"http://ictvonline.org/taxonomy/p/taxonomy-history?taxnode_id=201901396","remarks":"dsDNA","parsed":false},{"created":"2020-09-01T21:25:52.138836","createdBy":10,"modified":"2020-09-30T04:43:15.398814","modifiedBy":10,"datasetKey":1014,"id":"10","verbatimKey":650,"homotypicNameId":"10","scientificName":"Ictalurid
        herpesvirus 2","rank":"species","code":"virus","origin":"source","type":"virus","link":"http://ictvonline.org/taxonomy/p/taxonomy-history?taxnode_id=201901406","remarks":"dsDNA","parsed":false},{"created":"2020-09-01T21:25:52.138836","createdBy":10,"modified":"2020-09-30T04:43[...]
