http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/dataset/1000
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"created":"2019-11-20T11:07:46.255777","createdBy":101,"modified":"2020-10-09T12:01:27.209485","modifiedBy":101,"key":1000,"importAttempt":8,"type":"taxonomic","origin":"external","title":"Catalogue
        of Life Hierarchy","alias":"ColH","description":"We present a consensus classification
        of life to embrace the more than 1.6 million species \nalready provided by
        more than 3,000 taxonomists’ expert opinions \nin a unified and coherent,
        hierarchically ranked system known as the Catalogue of Life (CoL).","organisations":[{"name":"Species2000","label":"Species2000"},{"name":"ITIS","label":"ITIS"}],"contact":{"familyName":"Markus
        Döring <markus@mailinator.com>","name":"Markus Döring <markus@mailinator.com>"},"authors":[{"familyName":"Michael
        A. Ruggiero","name":"Michael A. Ruggiero"},{"familyName":"Dennis P. Gordon","name":"Dennis
        P. Gordon"},{"familyName":"Thomas M. Orrell","name":"Thomas M. Orrell"},{"givenName":"Nicolas","familyName":"Bailly","name":"Bailly
        N."},{"givenName":"Thierry","familyName":"Bourgoin","name":"Bourgoin T."},{"familyName":"Richard
        C. Brusca","name":"Richard C. Brusca"},{"givenName":"Thomas","familyName":"Cavalier-Smith","name":"Cavalier-Smith
        T."},{"familyName":"Michael D. Guiry","name":"Michael D. Guiry"},{"familyName":"Paul
        M. Kirk","name":"Paul M. Kirk"}],"license":"cc by","version":"1.4","released":"2019-05-06","completeness":0,"imported":"2020-07-02T23:50:55.486671","size":2844,"private":false}'
  recorded_at: 2020-12-09 01:42:36 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
