http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/estimate?offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":6330,"result":[{"created":"2020-03-18T20:28:30.668548","createdBy":0,"modified":"2020-03-27T14:19:32.408302","modifiedBy":0,"key":13994,"datasetKey":2083,"target":{"name":"Animalia","rank":"kingdom","code":"zoological"},"estimate":1525728,"type":"described
        species living","referenceId":"27"},{"created":"2020-02-24T22:50:48.485065","createdBy":0,"modified":"2020-03-27T14:19:26.862675","modifiedBy":0,"key":12728,"datasetKey":2081,"target":{"name":"Animalia","rank":"kingdom","code":"zoological"},"estimate":1525728,"type":"described
        species living","referenceId":"27"},{"created":"2020-04-16T20:51:25.101357","createdBy":0,"modified":"2020-04-16T20:51:25.101357","modifiedBy":0,"key":15260,"datasetKey":2123,"target":{"name":"Animalia","rank":"kingdom","code":"zoological"},"estimate":1525728,"type":"described
        species living","referenceId":"27"},{"created":"2020-02-19T17:12:44.371598","createdBy":0,"modified":"2020-03-27T14:19:21.68643","modifiedBy":0,"key":11462,"datasetKey":2079,"target":{"name":"Animalia","rank":"kingdom","code":"zoological"},"estimate":1525728,"type":"described
        species living","referenceId":"27"},{"created":"2015-10-08T22:51:08","createdBy":0,"modified":"2020-03-27T14:19:19.203742","modifiedBy":0,"key":68,"datasetKey":3,"target":{"name":"Animalia","rank":"kingdom","code":"zoological"},"estimate":1525728,"type":"described
        species living","referenceId":"27"},{"created":"2020-04-16T20:51:25.101357","createdBy":0,"modified":"2020-04-16T20:51:25.101357","modifiedBy":0,"key":16036,"datasetKey":2123,"target":{"id":"42066077-794c-4c21-9fa6-5497dc7f63c7","name":"Archaea","rank":"kingdom","code":"bacterial"},"estimate":502,"type":"described
        species living","referenceId":"54"},{"created":"2016-03-03T21:57:49","createdBy":0,"modified":"2020-03-27T14:19:20.66025","modifiedBy":0,"key":856,"datasetKey":3,"target":{"id":"42066077-794c-4c21-9fa6-5497dc7f63c7","name":"Archaea","rank":"kingdom","code":"bacterial"},"estimate":502,"type":"described
        species living","referenceId":"54"},{"created":"2020-02-19T17:12:44.371598","createdBy":0,"modified":"2020-03-27T14:19:25.040344","modifiedBy":0,"key":12250,"datasetKey":2079,"target":{"id":"047a4d98-b0d9-4afc-b17f-0a691edbac87","name":"Archaea","rank":"kingdom","code":"bacterial"},"estimate":502,"type":"described
        species living","referenceId":"54"},{"created":"2020-02-24T22:50:48.485065","createdBy":0,"modified":"2020-03-27T14:19:30.010413","modifiedBy":0,"key":13516,"datasetKey":2081,"target":{"id":"42066077-794c-4c21-9fa6-5497dc7f63c7","name":"Archaea","rank":"kingdom","code":"bacterial"},"estimate":502,"type":"described
        species living","referenceId":"54"},{"created":"2020-03-18T20:28:30.668548","createdBy":0,"modified":"2020-03-27T14:19:47.551707","modifiedBy":0,"key":14782,"datasetKey":2083,"target":{"id":"42066077-794c-4c21-9fa6-5497dc7f63c7","name":"Archaea","rank":"kingdom","code":"bacterial"},"estimate":502,"type":"described
        species living","referenceId":"54"}],"last":false,"empty":false}'
  recorded_at: 2020-04-17 23:49:08 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.catalogue.life/estimate?rank=genus&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset[...]
