http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/importer?running=FALSE&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":1390,"result":[{"datasetKey":2123,"attempt":1,"state":"released","started":"2020-04-16T20:25:24.879042","createdBy":103,"nameCount":4520480,"taxonCount":2213881,"synonymCount":1710437,"referenceCount":1549623,"distributionCount":1697249,"vernacularCount":439811,"namesByTypeCount":{"scientific":4516796,"virus":3684},"namesByStatusCount":{"unacceptable":14933,"acceptable":7941,"not
        established":2702,"manuscript":1278,"rejected":119,"conserved":88,"doubtful":14},"namesByOriginCount":{"source":4512189,"implicit
        name":8290,"user":1},"namesByRankCount":{"species":3784205,"variety":241039,"genus":196025,"subspecies":146326,"infraspecific
        name":79768,"form":48022,"family":12268,"subgenus":8000,"order":1869,"superfamily":997,"morph":610,"subvariety":481,"class":427,"subform":142,"phylum":119,"proles":90,"infrasubspecific
        name":26,"aberration":23,"unranked":11,"kingdom":10,"forma specialis":10,"subtribe":6,"series":4,"tribe":1,"natio":1},"distributionsByGazetteerCount":{"text":1697249},"vernacularsByLanguageCount":{"eng":127881,"cmn":60319,"spa":24161,"fra":15070,"deu":14215,"por":13380,"est":10475,"jpn":9604,"msa":9334,"rus":8442,"ita":6047,"dan":5946,"fin":5481,"ces":5273,"ara":3948,"ceb":3810,"tgl":3793,"tam":3092,"mal":2826,"ell":2581,"afr":2521,"nld":2398,"swe":2129,"pol":2006,"tur":1726,"vie":1543,"bik":1523,"kor":1485,"tha":1411,"ilo":1184,"war":1171,"fij":1110,"mar":1092,"swa":1019,"tel":1015,"sqi":959,"cal":954,"daw":944,"smo":923,"hrv":922,"hil":883,"ben":877,"mlt":860,"hin":837,"tah":832,"wol":764,"srp":752,"sin":733,"kan":694,"cat":686,"nor":670,"sgd":658,"khm":642,"rom":605,"jav":587,"div":578,"fas":538,"pap":508,"haw":502,"mah":497,"iku":485,"pau":482,"cbk":479,"nlg":443,"nya":417,"guj":414,"nep":410,"rol":409,"som":399,"isl":396,"tbk":384,"mya":343,"tkl":340,"ind":334,"fao":330,"cos":314,"heb":301,"mlg":289,"ewe":288,"agn":276,"keb":274,"hun":258,"kim":254,"cjk":252,"cym":250,"sco":250,"slv":229,"cgc":228,"hau":223,"pmt":223,"ace":219,"zho":201,"way":191,"pam":189,"ton":188,"ivv":185,"pag":181,"ukr":169,"yue":160,"fon":158,"lit":157,"mri":156,"srm":155,"mrv":153,"asm":152,"pan":146,"ray":138,"mon":135,"skg":135,"ori":133,"lav":131,"bul":129,"kdk":125,"bem":124,"rap":118,"grn":114,"srn":114,"yor":112,"mnk":110,"sus":108,"kri":106,"nno":105,"nob":105,"ron":105,"wls":100,"hai":96,"nup":95,"dip":94,"slk":91,"niu":86,"zne":86,"bcn":85,"cha":85,"loo":84,"aze":81,"guc":81,"kau":81,"fan":78,"fwa":74,"hye":74,"gle":73,"vif":71,"iba":68,"dyo":65,"kir":65,"ibo":63,"mos":63,"tvl":61,"dnj":55,"fry":55,"tum":53,"snd":50,"kok":47,"urd":47,"mni":46,"tsi":45,"bis":44,"men":44,"bbc":43,"hei":43,"jaz":43,"koo":43,"luo":43,"uzb":43,"kat":42,"cre":41,"cgg":40,"kaz":39,"shk":39,"ada":38,"nus":38,"yao":38,"tuv":37,"smk":35,"snk":34,"lia":33,"kha":31,"ven":31,"ems":30,"seh":30,"bci":29,"glv":28,"kas":28,"piz":27,"amh":26,"nyo":25,"kal":24,"pkb":24,"bck":23,"elo":23,"nbi":23,"nyh":23,"mkd":22,"goa":21,"gni":20,"ung":19,"wmt":18,"bvb":17,"adj":16,"tox":16,"bal":15,"bod":15,"thy":15,"alz":14,"bam":14,"gla":14,"ibg":14,"nyf":14,"rug":14,"scn":14,"dmm":13,"nem":13,"fub":12,"kom":12,"loz":12,"nuk":12,"fil":11,"glg":11,"plu":11,"que":11,"bta":10,"kos":10,"run":10,"chh":9,"epo":9,"txy":9,"aka":8,"chv":8,"eus":8,"kky":8,"miq":8,"lke":7,"lno":7,"rub":7,"sah":7,"bin":6,"mcn":6,"mug":6,"orm":6,"dig":5,"jbu":5,"mcs":5,"mua":5,"oka":5,"ona":5,"tui":5,"bre":4,"efi":4,"kik":4,"lao":4,"luy":4,"meu":4,"shs":4,"sun":4,"arw":3,"bua":3,"dua":3,"kbl":3,"khq":3,"kvf":3,"lin":3,"mer":3,"nie":3,"nzi":3,"pih":3,"ryu":3,"saq":3,"tfi":3,"tir":3,"twi":3,"ain":2,"bdm":2,"dzo":2,"enq":2,"foi":2,"int":2,"kam":2,"kwc":2,"lan":2,"lop":2,"mau":2,"mey":2,"mlf":2,"mlj":2,"mui":2,"nan":2,"oci":2,"res":2,"sbd":2,"sjm":2,"umb":2,"xho":2,"alq":1,"avi":1,"bib":1,"bnc":1,"bos":1,"bqp":1,"bsy":1,"bus":1,"bvf":1,"cnr":1,"dai":1,"dtp":1,"ebg":1,"etu":1,"gbp":1,"gdk":1,"hak":1,"hmo":1,"inn":1,"ker":1,"kie":1,"kru":1,"ksp":1,"kxd":1,"kzd":1,"kzr":1,"lij":1,"lil":1,"lol":1,"lue":1,"lug":1,"mqx":1,"ngc":1,"ruc":1,"sie":1,"skr":1,"swy":1,"tbw":1,"tdv":1,"thv":1,"tmh":1,"tpw":1,"tuk":1,"tuo":1,"xal":1,"zul":1},"usagesByStatusCount":{"accepted":2122596,"synonym":1622592,"provisionally
        accepted":91285,"ambiguous synonym":76695,"misapplied":11150},"taxaByRankCount":{"species":1858907,"genus":173438,"infraspecific
        name":78280,"subspecies":56337,"variety":25038,"family":10601,"subgenus":8000,"order":1392,"superfamily":997,"form":442,"class":320,"phylum":102,"unranked":11,"kingdom":8,"subtribe":6,"tribe":1,"proles":1},"origin":"released","verbatimCount":0,"upload":false,"usagesCount":3924318},{"datasetKey":2122,"attempt":2,"state":"finished","started":"2020-04-10T17:31:56.954645","finished":"2020-04-10T17:37:47.512834","createdBy":101,"nameCount":281000,"taxonCount":0,"synonymCount":0,"referenceCount":0,"distributionCount":0,"vernacularCount":0,"namesByTypeCount":{"scientific":280557,"informal":240,"hybrid
        formula":194,"no name":6,"placeholder":2,"virus":1},"namesByStatusCount":{"unacceptable":27,"not
        established":9,"conserved":2},"namesByOriginCount":{"source":281000},"namesByRankCount":{"species":257030,"subspecies":21368,"variety":2015,"genus":298,"unranked":192,"infraspecific
        name":65,"form":13,"cultivar":13,"subgenus":2,"species aggregate":2,"infrasubspecific
        name":2},"issuesCount":{"name match variant":58243,"duplicate name":5169,"inconsistent
        name":3653,"subspecies assigned":3582,"name match ambiguous":1360,"unparsable
        authorship":626,"name match inserted":445,"indetermined":239,"name match none":237,"partially
        parsable name":89,"unusual name characters":88,"doubtful name":44,"escaped
        characters":23,"inconsistent authorship":4,"unmatched name brackets":4,"blacklisted
        epithet":1},"downloadUri":"https://staging-eunis.eea.europa.eu/eunis_coldp.zip","origin":"external","format":"coldp","download":"2020-04-10T12:04:03","md5":"BFBEB8E5D987035C00AEDA1411F0710B","verbatimCount":281000,"verbatimByTypeCount":{"col:Name":281000},"verbatimByTermCount":{"col:Name":{"col:ID":281000,"col:code":281000,"col:rank":279609,"col:authorship":279231,"col:scientificName":281000}},"upload":false,"usagesCount":0},{"datasetKey":2122,"attempt":1,"state":"finished","started":"2020-04-09T11:27:23.16698","finished":"2020-04-09T11:33:48.830694","createdBy":101,"nameCount":281000,"taxonCount":0,"synonymCount":0,"referenceCount":0,"distributionCount":0,"vernacularCount":0,"namesByTypeCount":{"scientific":280641,"hybrid
        formula":194,"informal":156,"no name"[...]
[...]
