http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/importer?running=FALSE&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":2171,"result":[{"datasetKey":1140,"attempt":24,"job":"ImportJob","state":"finished","started":"2020-12-08T22:17:45.534461","finished":"2020-12-08T22:21:09.529602","createdBy":103,"bareNameCount":0,"distributionCount":14406,"estimateCount":0,"mediaCount":0,"nameCount":65293,"referenceCount":44556,"synonymCount":50253,"taxonCount":15040,"treatmentCount":0,"typeMaterialCount":0,"vernacularCount":1253,"distributionsByGazetteerCount":{"text":14406},"issuesCount":{"citation
        authors unparsed":18937,"parsed name differs":1128,"unusual name characters":1006,"multi
        word epithet":1006,"duplicate name":825,"name match variant":451,"unmatched
        reference brackets":148,"inconsistent name":121,"id not unique":94,"not interpreted":52,"published
        before genus":47,"name match ambiguous":18,"unparsable name":15,"unparsable
        authorship":15,"vernacular language invalid":13,"rank invalid":10,"partially
        parsable name":5,"subspecies assigned":5,"doubtful name":2,"blacklisted epithet":2,"indetermined":1},"namesByCodeCount":{"botanical":65293},"namesByRankCount":{"species":53473,"variety":7240,"subspecies":1207,"form":1113,"unranked":860,"infraspecific
        name":524,"genus":355,"family":139,"subgenus":116,"section":62,"subfamily":60,"subvariety":44,"order":41,"infraorder":23,"subform":11,"class":9,"tribe":7,"proles":3,"suborder":2,"subtribe":2,"phylum":1,"subclass":1},"namesByStatusCount":{"manuscript":309},"namesByTypeCount":{"scientific":65293},"synonymsByRankCount":{"species":40022,"variety":6633,"form":1081,"unranked":860,"subspecies":708,"infraspecific
        name":524,"subgenus":116,"family":88,"section":62,"subvariety":44,"subfamily":29,"order":27,"infraorder":23,"subform":11,"class":9,"tribe":7,"proles":3,"suborder":2,"subtribe":2,"phylum":1,"subclass":1},"taxaByRankCount":{"species":13451,"variety":607,"subspecies":499,"genus":355,"family":51,"form":32,"subfamily":31,"order":14},"usagesByStatusCount":{"synonym":50253,"accepted":15040},"usagesByOriginCount":{"source":65293},"vernacularsByLanguageCount":{"deu":60,"spa":48,"eng":35,"mri":29,"msa":1},"origin":"external","download":"2020-12-08T22:17:45.483","md5":"FF9EF63DBEACB65722D8BAFC349790C4","verbatimCount":190853,"verbatimByTermCount":{"col:Distribution":14406,"col:Name":65319,"col:Reference":44556,"col:Synonym":50270,"col:Taxon":15049,"col:VernacularName":1253},"verbatimByRowTypeCount":{"col:Name":{"col:ID":65319,"col:code":65319,"col:rank":23661,"col:genus":63629,"col:status":309,"col:remarks":1181,"col:uninomial":575,"col:authorship":63961,"col:referenceID":64116,"col:scientificName":65318,"col:publishedInPage":46907,"col:specificEpithet":63629,"col:infraspecificEpithet":10153},"col:Taxon":{"col:ID":15049,"col:link":13814,"col:nameID":15049,"col:parentID":15035,"col:namePhrase":297,"col:provisional":15049,"col:referenceID":14528,"http://unknown.org/fossil":15049,"http://unknown.org/recent":15049,"http://unknown.org/estimates":124},"col:Synonym":{"col:nameID":50270,"col:status":50270,"col:remarks":296,"col:taxonID":50270},"col:Reference":{"col:ID":44556,"col:year":43591,"col:author":43490,"col:source":44556,"col:citation":44556},"col:Distribution":{"col:area":14406,"col:taxonID":14406,"col:gazetteer":14406},"col:VernacularName":{"col:name":1253,"col:taxonID":1253,"col:language":186}},"upload":true,"nameRelationsCount":0,"usagesCount":65293,"taxonConceptRelationsCount":0,"speciesInteractionsCount":0},{"datasetKey":1140,"attempt":23,"job":"ImportJob","state":"finished","started":"2020-12-08T19:33:48.749542","finished":"2020-12-08T19:37:36.749992","createdBy":103,"bareNameCount":0,"distributionCount":14406,"estimateCount":0,"mediaCount":0,"nameCount":65293,"referenceCount":44556,"synonymCount":50253,"taxonCount":15040,"treatmentCount":0,"typeMaterialCount":0,"vernacularCount":1253,"distributionsByGazetteerCount":{"text":14406},"issuesCount":{"citation
        authors unparsed":18937,"parsed[...]
[...]
