http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/nameusage/search?q=Apis&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":3906,"result":[{"id":"1271578","classification":[{"id":"1","name":"Biota","rank":"unranked"},{"id":"2","name":"Animalia","rank":"kingdom"},{"id":"235","name":"Arthropoda","rank":"phylum"},{"id":"11905095","name":"Hexapoda","rank":"subphylum"},{"id":"1096","name":"Insecta","rank":"class"},{"id":"10830","name":"Hymenoptera","rank":"order"},{"id":"101097","name":"Apidae","rank":"family"},{"id":"1271578","name":"Apis","rank":"genus"}],"usage":{"created":"2020-07-02T12:47:40.601188","createdBy":10,"modified":"2020-07-02T12:47:40.601188","modifiedBy":10,"datasetKey":2007,"id":"1271578","verbatimKey":799747,"name":{"created":"2020-07-02T12:46:46.400027","createdBy":10,"modified":"2020-07-13T03:02:00.570411","modifiedBy":10,"datasetKey":2007,"id":"1271578","verbatimKey":799747,"homotypicNameId":"1271578","scientificName":"Apis","authorship":"Linnaeus,
        1758","rank":"genus","uninomial":"Apis","combinationAuthorship":{"authors":["Linnaeus"],"year":"1758"},"code":"zoological","publishedInId":"r3KE3","origin":"source","type":"scientific","link":"http://www.irmng.org/aphia.php?p=taxdetails&id=1271578","parsed":true},"status":"accepted","origin":"source","parentId":"101097","link":"http://www.irmng.org/aphia.php?p=taxdetails&id=1271578","referenceIds":["r499B","r5CJD"],"label":"Apis
        Linnaeus, 1758","labelHtml":"<i>Apis</i> Linnaeus, 1758"},"issues":["classification
        not applied","name match variant"]},{"id":"164774","classification":[{"id":"1","name":"Animalia","rank":"kingdom"},{"id":"54070","name":"Eumetazoa","rank":"unranked"},{"id":"2","name":"Arthropoda","rank":"phylum"},{"id":"3","name":"Hexapoda","rank":"unranked"},{"id":"4","name":"Insecta","rank":"class"},{"id":"11273","name":"Hymenoptera","rank":"order"},{"id":"11274","name":"Apocrita","rank":"unranked"},{"id":"11298","name":"Apoidea","rank":"superfamily"},{"id":"11300","n[...]
