http_interactions:
- request:
    method: get
    uri: https://api.catalogueoflife.org/dataset/3/nameusage/suggest?q=Apis&fuzzy=false&reverse=false&accepted=false&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"suggestions":[{"match":"Apistidae","parentOrAcceptedName":"Scorpaeniformes","usageId":"382e8442-7c54-4e43-8721-2bd1b95d7e08","rank":"family","status":"accepted","score":0.0,"suggestion":"Apistidae
        (family in Scorpaeniformes)"},{"match":"Apistobranchidae","parentOrAcceptedName":"Spionida","usageId":"9d89b038-9f6b-4180-bb60-0bb7051fae9b","rank":"family","status":"accepted","score":0.0,"suggestion":"Apistobranchidae
        (family in Spionida)"},{"match":"Apis","parentOrAcceptedName":"Apini","usageId":"5eecbda1-2f16-41a7-94c3-a9f7813ad8a3","rank":"genus","status":"accepted","nomCode":"zoological","score":0.0,"suggestion":"Apis
        (genus in Apini)"},{"match":"Apisa","parentOrAcceptedName":"Arctiidae","usageId":"da6bee8f-f197-4b62-aec5-a4c8b6f957d7","rank":"genus","status":"accepted","score":0.0,"suggestion":"Apisa
        (genus in Arctiidae)"},{"match":"Apispiralia","parentOrAcceptedName":"Mangeliidae","usageId":"4a2734aa-0829-482d-aab0-cc19f542e0cf","rank":"genus","status":"accepted","score":0.0,"suggestion":"Apispiralia
        (genus in Mangeliidae)"},{"match":"Apist[...]
