http_interactions:
- request:
    method: get
    uri: https://api.catalogue.life/nameusage/search?q=Apis&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":1447,"result":[{"id":"53a4d4c7-fb5e-4048-84c5-3d16c8abfe77","classification":[{"id":"0","name":"Biota","rank":"unranked"},{"id":"061950e4-9782-4d1a-9c87-dcf375788e6b","name":"Animalia","rank":"kingdom"},{"id":"7a77dbd5-bcff-42c9-b9fc-b05d5678302f","name":"Arthropoda","rank":"phylum"},{"id":"06ec82f1-dd3d-43e1-a75f-b5cd4198e804","name":"Insecta","rank":"class"},{"id":"9d98b9e8-10a5-4bc7-80cb-5ca3b1e883de","name":"Hemiptera","rank":"order"},{"id":"94e1de48-64d0-4bda-ba79-af2c035f983a","name":"Membracoidea","rank":"superfamily"},{"id":"75994e3b-e1d6-4aae-a428-e7a23ac6690a","name":"Cicadellidae","rank":"family"},{"id":"828e3678-30e3-4cd5-88c9-51aad9144684","name":"Kirkaldykra","rank":"genus"},{"id":"66e197dd-f63b-4d6e-bea6-7a343ead63d8","name":"Kirkaldykra
        apis","rank":"species"},{"id":"53a4d4c7-fb5e-4048-84c5-3d16c8abfe77","name":"Dikraneura
        apis","rank":"species"}],"usage":{"created":"2020-01-07T20:30:00.006345","createdBy":103,"modified":"2020-01-07T20:30:00.006345","modifiedBy":103,"datasetKey":3,"id":"53a4d4c7-fb5e-4048-84c5-3d16c8abfe77","sectorKey":60919,"name":{"created":"2020-01-07T20:30:00.006345","createdBy":103,"modified":"2020-01-07T20:30:00.006345","modifiedBy":103,"datasetKey":3,"id":"e7e57468-7fd2-4a25-9428-334d51bed6e4","sectorKey":60919,"verbatimKey":7510996,"homotypicNameId":"e7e57468-7fd2-4a25-9428-334d51bed6e4","nameIndexId":"6ZQF8","scientificName":"Dikraneura
        apis","authorship":"Dworakowska, 1969","rank":"species","genus":"Dikraneura","specificEpithet":"apis","combinationAuthorship":{"authors":["Dworakowska"],"year":"1969"},"code":"zoological","publishedInId":"1bc3717b-82b4-4193-a5dc-87f83d25ad54","origin":"source","type":"scientific","parsed":true,"formattedName":"<i>Dikraneura</i>
        <i>apis</i> Dworakowska, 1969"},"status":"synonym","origin":"source","parentId":"66e197dd-f63b-4d6e-bea6-7a343ead63d8","accepted":{"created":"2020-01-07T20:29:23.981288","createdBy":103,"modified":"2020-01-07T20:29:23.981288","modifiedBy":103,"datasetKey":3,"id":"66e197dd-f63b-4d6e-bea6-7a343ead63d8","sectorKey":60919,"name":{"created":"2020-01-07T20:29:23.981288","createdBy":103,"modified":"2020-01-07T20:29:23.981288","modifiedBy":103,"datasetKey":3,"id":"6ef66151-894c-4cab-814d-554ba665a802","sectorKey":60919,"verbatimKey":7502336,"homotypicNameId":"6ef66151-894c-4cab-814d-554ba665a802","scientificName":"Kirkaldykra
        apis","authorship":"(Dworakowska, 1969)","rank":"species","genus":"Kirkaldykra","specificEpithet":"apis","basionymAuthorship":{"authors":["Dworakowska"],"year":"1969"},"code":"zoological","publishedInId":"1bc3717b-82b4-4193-a5dc-87f83d25ad54","origin":"source","type":"scientific","parsed":true,"formattedName":"<i>Kirkaldykra</i>
        <i>apis</i> (Dworakowska, 1969)"},"status":"accepted","origin":"source","parentId":"828e3678-30e3-4cd5-88c9-51aad9144684","accordingTo":"Dmitriev,
        D.A.","link":"http://dmitriev.speciesfile.org/taxahelp.asp?hc=19407&amp;key=Erythroneura&amp;lng=En","accordingToDate":"2017-11","extinct":false,"label":"Kirkaldykra
        apis (Dworakowska, 1969) Dmitriev, D.A.","labelHtml":"<i>Kirkaldykra</i> <i>apis</i>
        (Dworakowska, 1969) Dmitriev, D.A.","synonym":false,"taxon":true,"bareName":false},"homotypic":false,"label":"Dikraneura
        apis Dworakowska, 1969","labelHtml":"<i>Dikraneura</i> <i>apis</i> Dworakowska,
        1969","synonym":true,"taxon":false,"bareName":false},"sectorDatasetKey":1189},{"id":"e2d28609-bed1-48a1-826c-468631e01058","classification":[{"id":"0","name":"Biota","rank":"unranked"},{"id":"061950e4-9782-4d1a-9c87-dcf375788e6b","name":"Animalia","rank":"kingdom"},{"id":"7a77dbd5-bcff-42c9-b9fc-b05d5678302f","name":"Arthropoda","rank":"phylum"},{"id":"06ec82f1-dd3d-43e1-a75f-b5cd4198e804","name":"Insecta","rank":"class"},{"id":"9d98b9e8-10a5-4bc7-80cb-5ca3b1e883de","name":"Hemiptera","rank":"order"},{"id":"94e1de48-64d0-4bda-ba79-af2c035f983a","name":"Membracoidea"[...]
