http_interactions:
- request:
    method: post
    uri: https://api.catalogueoflife.org/parser/name
    body:
      encoding: ''
      string: Apis mellifera
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
      Content-Type: text/plain
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"scientificName":"Apis mellifera","rank":"species","genus":"Apis","specificEpithet":"mellifera","type":"scientific","parsed":true}]'
  recorded_at: 2020-12-09 01:43:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: post
    uri: https://api.catalogueoflife.org/parser/name
    body:
      encoding: ''
      string: |-
        Apis mellifera
        Homo sapiens var. sapiens
    headers:
      X-USER-AGENT: r-curl/4.3 crul/1.0.0 rOpenSci(rcol/0.1.0)
      Content-Type: text/plain
  response:
    status:
      status_code: '201'
      message: Created
      explanation: Document created, URL follows
    headers:
      status: 'HTTP/2 201 '
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"scientificName":"Apis mellifera","rank":"species","genus":"Apis","specificEpithet":"mellifera","type":"scientific","parsed":true},{"scientificName":"Homo
        sapiens var. sapiens","rank":"variety","genus":"Homo","specificEpithet":"sapiens","infraspecificEpithet":"sapiens","type":"scientific","parsed":true}]'
  recorded_at: 2020-12-09 01:43:01 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
