http_interactions:
- request:
    method: get
    uri: https://api.catalogue.life/parser/name?name=Apis%20mellifera
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":{"scientificName":"Apis mellifera","rank":"species","genus":"Apis","specificEpithet":"mellifera","type":"scientific","parsed":true,"formattedName":"<i>Apis</i>
        <i>mellifera</i>"}}]'
  recorded_at: 2020-04-17 23:49:11 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.catalogue.life/parser/name?name=Apis%20mellifera&name=Homo%20sapiens%20var.%20sapiens
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '[{"name":{"scientificName":"Apis mellifera","rank":"species","genus":"Apis","specificEpithet":"mellifera","type":"scientific","parsed":true,"formattedName":"<i>Apis</i>
        <i>mellifera</i>"}},{"name":{"scientificName":"Homo sapiens var. sapiens","rank":"variety","genus":"Homo","specificEpithet":"sapiens","infraspecificEpithet":"sapiens","type":"scientific","parsed":true,"formattedName":"<i>Homo</i>
        <i>sapiens</i> var. <i>sapiens</i>"}}]'
  recorded_at: 2020-04-17 23:49:11 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
