http_interactions:
- request:
    method: get
    uri: http://api.catalogue.life/sector?offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":0,"limit":10,"total":17100,"result":[{"created":"2020-04-16T20:25:25.204356","createdBy":101,"modified":"2020-04-16T20:25:25.204356","modifiedBy":101,"key":94949,"datasetKey":2123,"target":{"id":"57b4cba3-9a7d-493b-b44c-866591658f54","name":"Coleoptera","rank":"order"},"subjectDatasetKey":1039,"subject":{"id":"xC","name":"Curculionoidea","rank":"superfamily"},"originalSubjectId":"xC","mode":"attach"},{"created":"2020-04-16T20:25:25.204356","createdBy":0,"modified":"2020-04-16T20:25:25.204356","modifiedBy":0,"key":94948,"datasetKey":2123,"target":{"id":"feb0e79c-3f93-400e-abaf-fcea89e1dc5c","name":"Malpighiales","rank":"order"},"subjectDatasetKey":1141,"subject":{"id":"xFM2","name":"Calophyllaceae","rank":"family"},"originalSubjectId":"xFM2","mode":"attach"},{"created":"2020-04-16T20:25:25.204356","createdBy":0,"modified":"2020-04-16T20:25:25.204356","modifiedBy":0,"key":94947,"data[...]
- request:
    method: get
    uri: http://api.catalogue.life/sector?rank=genus&offset=0&limit=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.0 rOpenSci(colpluz/0.0.1.93)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      file: no
      string: '{"offset":[...]
